<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>{{Quiz.name}}</h5>
    <h5>{{Quiz.desc}}</h5>
    <h5>{{Quiz.time_in_sec}}</h5>
    {% for q in ques %}
    <h5>{{q.question}}</h5>
    <h5>{{q.op1}}</h5>
    <h5>{{q.op2}}</h5>
    <h5>{{q.op3}}</h5>
    <h5>{{q.op4}}</h5>
    <h5>{{q.ans}}</h5>
    {% endfor %}
</body>
</html>